// _mixins.scss
@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background-image($url) {
    background-image: url($url);
}
