// _variables.scss
$primary-color: greenyellow;
$secondary-color: hsl(300, 84%, 25%);
$font-family: "Luckiest Guy", sans-serif;
$background-image: 'images/nasa-rTZW4f02zY8-unsplash.jpg';
$board-background: 'images/volcano_floor.png';
$cell-color: blanchedalmond;
$player-color: aqua;
$ai-color: orange;
$cell-size: 50px;
$h1-font-size: 80px;
