body {
  font-family: "Luckiest Guy", sans-serif;
  color: orangered;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.board {
  width: 630px;
  height: 540px;
  background-image: url('images/volcano_floor.png');
  display: flex;
  flex-wrap: wrap;
  border: 10px solid black;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.cell {
  background-color: grey;
  margin: 5px;
  padding: 10px; 
  border-radius: 50%;
  border: 3px solid black;
  height: 50px; 
  width: 50px; 
}
.selected {
  background-color: aqua;
}
.ai {
  background-color: yellow;
}
